@charset "UTF-8";
/* primery-text-color: color: #212121
text-color: color: #757575
secondary-color: color: #ffffff
link-color: color: rgba(255, 255, 255, 0.6)
secondary-link-color: color: #2196F3
background-color: background-color: #2F303A */
/* WebStudio */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --acent-color: #2196F3;
  --background-color: #ffffff;
  --button-color: #F5F4FA;
  --background-icons: #F5F4FA;
  --svg: #AFB1B8;
  --card-border-line: #EEEEEE;
}

body {
  color: var(--primery-text-color);
  background-color: #ffffff;
  font-family: roboto, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
}

.box {
  border: 1px solid black;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list .list-item.calc {
  -ms-flex-preferred-size: calc((100% - 40px) / 2);
      flex-basis: calc((100% - 40px) / 2);
  margin: 10px;
  min-width: 100px;
  border: 1px solid red;
  margin-bottom: 10px;
}

.text {
  font-size: 24px;
}

/* headear */
.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .list-item {
    margin-right: 54px;
  }
}
.list-item:last-child {
  margin-right: 0;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media (min-width: 767px) {
  .logo {
    margin: 16px 15px;
  }
}

.logo-text {
  color: var(--background-color);
  margin-top: 0;
}

.logo-span {
  color: var(--acent-color);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  border-bottom: 1px solid #ECECEC;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .nav-list {
    margin-left: 90px;
  }
}

.nav-list .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000;
}
@media (max-width: 767px) {
  .nav-list .nav-link {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .nav-list .nav-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}
.nav-list .nav-link:hover, .nav-list .nav-link:focus {
  color: var(--acent-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--acent-color);
}

.nav-contact .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-contact .nav-link:focus, .nav-contact .nav-link:hover {
  color: var(--acent-color);
}

@media (min-width: 768px) {
  .nav-list li + li {
    margin-left: 54px;
  }
}

.nav-list .nav-link.current {
  color: var(--acent-color);
}
.nav-list .nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: var(--acent-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav-link:hover.current::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 767px) {
  .mobile-button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    z-index: 2;
  }
  .mobile-button:hover, .mobile-button:focus {
    fill: var(--accent-color);
  }
  .mobile-button .mobile-open {
    display: none;
  }
  .mobile-button.is-open .mobile-open {
    display: block;
  }
  .mobile-button.is-open .mobile-close {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 48px 83px 48px 40px;
    z-index: 1;
  }
  .mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .mobile-menu {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.contact-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (min-width: 768px) {
  .contact-network {
    display: none;
  }
}

.network-item:not(:last-child):after {
  content: "";
  width: 1px;
  height: 22px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.network-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
@media (min-width: 768px) {
  .contacts {
    margin-left: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .contact-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media (min-width: 1200px) {
  .contact-list .contact-list li + li {
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.contact-list a {
  color: var(--primery-text-color);
}
@media (max-width: 767px) {
  .contact-list a {
    font-size: 24;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 768px) {
  .contact-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .contact-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-size: 14px;
  }
}

.contact-list .nav-contact:focus,
.contact-list .nav-contact:hover {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
@media (max-width: 767px) {
  .contact-icon {
    display: none;
  }
}
.contact-icon:focus, .contact-icon:hover {
  color: var(--acent-color);
  fill: var(--acent-color);
}

@media (max-width: 767px) {
  .contact-item:last-child {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .contact-item:last-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact-item:last-child {
    margin-left: 30px;
  }
}

@media (max-width: 1200px) {
  .contact-item:first-child {
    margin-bottom: 13px;
  }
}

/* Секція герой */
.hero-section {
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--background-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
}
@media (min-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.6;
  }
}

.hero-button {
  display: inline-block;
  background-color: var(--acent-color);
  color: var(--background-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  padding: 10px 32px;
  border: 0;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.button-tite {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background-color);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .modal {
    width: 450px;
    max-height: 609px;
    height: 100%;
    overflow: scroll;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-image: url(../img/icons/close.svg);
  background-size: contain;
}

/* Форма */
.form,
.fields,
.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field {
  position: relative;
  margin-bottom: 20px;
  text-align: start;
}

.title {
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--title-text-color);
}

.form-field,
.textarea {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.fields:not(:last-child) {
  margin-bottom: 10px;
}

.field label {
  font-size: 12px;
  margin-bottom: 4px;
}

.checkbox {
  margin-bottom: 30px;
}

.form-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15px;
  margin: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus-within .form-field,
.field:hover .form-field,
.field:focus-within textarea,
.field:hover textarea {
  border: 1px solid var(--acent-color);
}

.field:focus-within > .form-icon,
.field:hover > .form-icon {
  fill: var(--acent-color);
}

.btn {
  width: 200px;
}

.checkbox {
  margin-bottom: 30px;
}

.field-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  padding: 0;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.field-checkbox:focus-within + .checkbox-icon {
  border: 2px solid var(--acent-color);
}
.field-checkbox:checked + .checkbox-icon {
  background-color: var(--acent-color);
  border: 2px solid var(--acent-color);
}

.field-label a {
  color: var(--acent-color);
  text-decoration: underline;
}

.textarea {
  resize: none;
  height: 120px;
  font-size: 14px;
  padding: 12px 16px;
}

/* Секція особливості */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.specific-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description-specific {
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media (min-width: 1200px) {
  .features {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .featurs-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .featurs-item {
    width: 270px;
  }
}

.featurs-icons {
  background-color: var(--background-icons);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

/* Секція чим займаємось */
.section.work {
  padding: 0;
}
@media (max-width: 1199px) {
  .section.work {
    display: none;
  }
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-description {
  position: relative;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 65px;
  bottom: 19%;
}

.text-description {
  position: absolute;
  -webkit-transform: translate(54%, 72%);
          transform: translate(54%, 72%);
  color: var(--background-icons);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
}

/* Секція знайомства */
.our-team {
  background: #F5F4FA;
}

.team {
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    margin: -15px;
  }
}

.team-link {
  padding-bottom: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-link {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-link {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
@media screen and (max-width: 768px) {
  .team-link:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-link img {
  margin-bottom: 30px;
}

.title-about-team {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.name-employee {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}

.position {
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 16px;
}

.social-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.network-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg);
}

.social-icon {
  fill: currentColor;
  margin: 12px;
}

.social-link:hover,
.social-link:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
}

/* постійні клієнти */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .customers-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 768px) {
  .customers-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: var(--svg);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--acent-color);
  color: var(--acent-color);
}

.customers-icon {
  fill: currentColor;
}

/* footer */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--background-icons);
}

.social-network-list {
  margin-top: 20px;
}

.footer .social-icon {
  fill: currentColor;
}

.address {
  color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--acent-color);
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.join .social-link:hover,
.join .social-link:focus {
  background-color: var(--acent-color);
}

.join-networks {
  color: var(--background-color);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  font-size: 700;
  text-transform: uppercase;
}

/* Portfolio */
/* Filter button */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 480px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: -15px;
    margin-left: -8px;
  }
}
@media (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .filter-item {
    margin-top: 15px;
    margin-left: 8px;
  }
}
@media (min-width: 768px) {
  .filter-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 30px;
  }
  .filter-item:not(:last-child) {
    margin-right: 8px;
  }
}
@media (min-width: 1200px) {
  .filter-item {
    margin-bottom: 50px;
  }
}

.title-button {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  width: 73px;
}

.filter-button {
  display: inline-block;
  /* border: 1px solid black; */
  border-radius: 4px;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--button-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--background-color);
  background-color: var(--acent-color);
}

/* card */
@media (min-width: 768px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media (min-width: 768px) {
  .examples-link {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .examples-link {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.card-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-description {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.link-text {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.card {
  display: block;
}

/* Оверлей на карточках */
.img-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: var(--background-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-thumb:hover .overlay,
.link-thumb:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.link-thumb:hover .link-text,
.link-thumb:focus .link-text {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */