.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.section-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0px;
}