.customers {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.customers-item:not(:last-child) {
    margin-right: 30px;
}
.customers-item {
    @media (max-width: 767px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }

    @media (min-width: $tablet) {
        width: calc((100% - 3 * 30px) / 3);
        margin: 15px;
    }

    @media (min-width: $desktop) {
        width: calc((100% - 6 * 30px) / 6);
        margin: 15px;
    }

}
.customers-link {
    @include centeredFlex (center);

    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: var(--svg);
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--acent-color);
    color: var(--acent-color);
}

.customers-icon {
    fill: currentColor;
}