.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--background-icons);

}

.social-network-list {
    margin-top: 20px;
}

.footer .social-icon {
    fill: currentColor;
}

.address {
    color: var(--background-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: flex;
    margin-bottom: 9px;
}

.footer-contacts {
    margin-right: 70px;
}

.footer-items {
    display: flex;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-list-item {
    display: flex;
}

.footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.join .social-link:hover,
.join .social-link:focus {
    background-color: var(--acent-color);
}

.join-networks {
    color: var(--background-color);
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.2;
    font-size: 700;
    text-transform: uppercase;
}